.about {
    padding: 100px 7%;
    background-color: #2D222F;
}

.about h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0;
    color: #FADCD5;
}

.about article {
    display: flex;
    justify-content: center;

}

.about article p {
    margin: 50px 0;
    font-size: 20px;
}

.about article span {
    color: #d83e76;
}