.contact {
    background-color: #F9F1E7;
    padding: 100px 7%;
}

.contact h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0;
}

.contact .social-icons {
    display: flex;
    justify-content: center;
}

.contact .social-icons a {
    margin: 50px 1%;

    transition: all 0.15s ease-in-out;
}

.contact .social-icons a:hover {
    opacity: 0.85;
}

.contact article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    margin: 50px;
}

.contact p {
    font-size: 17px;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
}

.contact h4 {
    margin: 100px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}